body {
  font-family: Tahoma;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  margin: 0;
  box-sizing: border-box;
  background-color: #0a2705db;
}

.container {
  padding: 58px 75px;
  max-width: 720px;
  margin: 64px auto;
  background-color: #193d1378;

}

header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 16px 0;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-18 {
  font-size: 18px;
}

.dotted-line {
  border: none;
  border-top: 5px dotted #ffffff2b;
}

#title {
  margin: 0;
  color: #87e399;
}

#description {
  margin: 0;
}


.text-center {
  text-align: center;
}

form {
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
}

input,
select {
  width: 100%;
  margin-top: 10px;
  min-height: 28px;
  box-sizing: border-box;
  padding: .375rem .75rem;
  height: 2.375rem;
}

label {
  display: block;
  margin-top: 12px;
}

.form-group {
  margin: 1.2rem auto 1.2rem auto;
  padding: .25rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.input-radio {
  margin-right: .625rem;
  margin-top: 0;
  margin-left: 0;
  width: 1.25rem;
  height: 1.25rem;
}

textarea {
  width: 100%;
  min-height: 120px;
  margin-top: 14px;
  padding: .625rem;
  box-sizing: border-box;
}

.submit-btn {
  background: #87e399;
  padding: .625rem;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 600;
}